.vertical-offset-100 {
    padding-top:100px;
}

#page-wrapper {
    margin: 0 auto;
}

.table td, th {
    text-align: center;
}

i.online-doter {
    color: #1b926c;
}

.clickable{
    cursor: pointer;
}

.panel-heading span {
    /*margin-top: -20px;*/
    font-size: 15px;
}