{% extends "base.twig" %}

{% block head %}
    {{ parent() }}

    <script src="bower_components/socket.io-client/socket.io.js"></script>
    <script>
        var socket = io.connect('http://{{ config.ws.host }}:{{ config.ws.port }}');

        socket.on('error', function (exception) {
            Main.notify(exception.message, {
                type: 'danger'
            });
        });

        socket.on('getOnlineUsers', User.setOnlineUsers);
        socket.on('getSystemEvent', EventService.newUpdate);
        socket.on('getPrivateEvent', EventService.newUpdate);

        socket.on('newUpdates', function (events) {
            if (events.length) {
                events.forEach(EventService.newUpdate);
            }
        });

        socket.emit('call', {namespace: 'event', fn: 'getUpdates'});


        $(document).on('click', '.panel-heading span.clickable', function(e){
            var $this = $(this);
            if(!$this.hasClass('panel-collapsed')) {
                $this.parents('.panel').find('.panel-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            } else {
                $this.parents('.panel').find('.panel-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            }
        })

    </script>
{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-user fa-fw"></i> Users
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>User</th>
                                <th>Online</th>
                                <th>New Message</th>
                                <th>New Comment</th>
                                <th>New Reply</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr class="gradeU" id="row-user-{{ user.id }}">
                                    <td>{{ user.login|e }}</td>
                                    <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                                    <td>
                                        <a class="btn btn-primary" onclick="User.setNotification({{ user.id }}, 'message'); return false;" href="#">
                                            <i class="fa fa-play" aria-hidden="true"></i> Run
                                        </a>
                                    </td>
                                    <td class="center">
                                        <a class="btn btn-primary" onclick="User.setNotification({{ user.id }}, 'comment'); return false;" href="#">
                                            <i class="fa fa-play" aria-hidden="true"></i> Run
                                        </a>
                                    </td>
                                    <td class="center">
                                        <a class="btn btn-primary" onclick="User.setNotification({{ user.id }}, 'reply'); return false;" href="#">
                                            <i class="fa fa-play" aria-hidden="true"></i> Run
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> New System Event
                        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form role="form" method="post" action="/createEvent">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input class="form-control" name="name" title="Name" required placeholder="Name">
                                        <p class="help-block">Event name</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Text area</label>
                                        <textarea name="text" title="Text" placeholder="Text" required class="form-control" rows="10"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Options</label>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="ended" onclick="Main.switchEndedTime(this)" value="">Ended date
                                            </label>
                                        </div>
                                        <div class="input-group date-input" style="display: none;">
                                            <input type="text" class="form-control" name="ended_date" data-provide="datepicker" data-date-format="dd-mm-yyyy" value="{{ 'now'|date('d-m-Y') }}">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Submit Button</button>
                                    <button type="reset" class="btn btn-default">Reset Button</button>
                                </form>
                            </div>
                            <!-- /.col-lg-4 (nested) -->
                            <div class="col-lg-8">
                                <div id="morris-bar-chart"></div>
                            </div>
                            <!-- /.col-lg-8 (nested) -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-8 -->

            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge online-users-cnt"></div>
                                <div>Users online</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Notifications Panel
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item notify-counter comment">
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted"><p class="label label-primary">0</p>
                                </span>
                            </a>
                            <a href="#" class="list-group-item notify-counter reply">
                                <i class="fa fa-twitter fa-fw"></i> New Reply
                                <span class="pull-right text-muted"><p class="label label-primary">0</p>
                                </span>
                            </a>
                            <a href="#" class="list-group-item notify-counter messages">
                                <i class="fa fa-envelope fa-fw"></i> New Message
                                <span class="pull-right text-muted"><p class="label label-primary">0</p>
                                </span>
                            </a>
                            <a href="#" class="list-group-item notify-counter system">
                                <i class="fa fa-bolt fa-fw"></i> New System event
                                <span class="pull-right text-muted"><p class="label label-primary">0</p>
                                </span>
                            </a>
                        </div>
                        <!-- /.list-group -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
{% endblock %}