{% extends "base.twig" %}


{% block content %}
    <div class="container">
        <div class="row vertical-offset-100">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please sign in</h3>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" required placeholder="Login" name="login" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" required placeholder="Password" name="password" type="password" value="">
                                </div>
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Users list</h3>
                    </div>
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>login</th>
                                    <th>password</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>admin</td>
                                    <td>admin</td>
                                </tr>
                                <tr>
                                    <td>user</td>
                                    <td>user</td>
                                </tr>
                                <tr>
                                    <td>alex</td>
                                    <td>alex</td>
                                </tr>
                                <tr>
                                    <td>peter</td>
                                    <td>peter</td>
                                </tr>
                                <tr>
                                    <td>trump</td>
                                    <td>trump</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}